@model Hakaton_Db.Models.Point
<div class="taskModel">
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            @Model.PointType.Name
        </div>
    </div>
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            @Model.Name
        </div>
    </div>
    <div class="container">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            @Model.EventPoints.Count заданий
        </div>

    </div>
    <div class="container">
        <div class="btn btn-default" onclick="window.location.href = '@Url.Action("../Map/GetEventsPoint",new {idPoint= Model.Id})'">
            К заданиям
        </div>
    </div>
</div>
